@import "config";

.container {
  max-width: 1440px;
  width: 100%;
}

.font-weight-bold {
  font-weight: 700;
}

@import "component";
@import "illustration";
@import "faq";
@import "attribution";
@import "animation";
@import "responsive";
