.szh-menu-container {
    position: relative;
    width: 0px;
    height: 0px;
   
  }
  
  .szh-menu {
  
    margin-left: 15px;
    display: block;
    color: white;
    list-style: none;
    box-sizing: border-box;
    width: max-content;
    position: absolute;
    z-index: 100;
    background-color: #212D45;
    border-radius: 10px;
    margin-left: -1rem;
    margin-right:1rem;
    margin-top: 4rem;
    width:35rem;

  }
  
    @media only screen and (max-width: 320px){

      .szh-menu {
        width:30rem;
        margin-top: 12.5rem;
        margin-left: -1rem;
    }
      /* CSS apply on width between 0 and 320px */
  }
  @media only screen and (max-width: 360px) and (min-width: 325px){

    .szh-menu {
      width:34rem;
      margin-top: 12.5rem;
      margin-left: -1rem;
  }
      /* CSS apply on width between 325px and 360px */

    }
    @media only screen and (max-width: 420px) and (min-width: 365px){
  
      .szh-menu {
        width:34rem;
        margin-top: 12.5rem;
        margin-left: -1rem;
    }
        /* CSS apply on width between 325px and 360px */
  
  

  }

  
  

  .szh-menu:focus {
    outline: none;
  }
  .szh-menu--state-closed {
    display: none !important;
  }
  .szh-menu__arrow {
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: -1;
  }
  .szh-menu__arrow--dir-left {
    right: -0.375rem;
    transform: translateY(-50%) rotate(135deg);
  }
  .szh-menu__arrow--dir-right {
    left: -0.375rem;
    transform: translateY(-50%) rotate(-45deg);
  }
  .szh-menu__arrow--dir-top {
    bottom: -0.375rem;
    transform: translateX(-50%) rotate(-135deg);
  }
  .szh-menu__arrow--dir-bottom {
    top: -0.375rem;
    transform: translateX(-50%) rotate(45deg);
  }
  .szh-menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: larger;
  }
  .szh-menu__item:focus {
    outline: none;
  }
  .szh-menu__item--hover {

    padding-left:2px;
    padding-right:5px;
    border-radius:10px;
    transform: 0.5s;  
  }
  .szh-menu__item--focusable {
    cursor: default;
    background-color: inherit;
  }
  .szh-menu__item--disabled {
    cursor: default;
    color: #aaa;
  }




  .szh-menu__submenu {
    position: relative;
  }
  .szh-menu__group {
    box-sizing: border-box;
  }
  .szh-menu__radio-group {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .szh-menu__divider {
    height: 1px;
    margin: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .szh-menu-button {
    box-sizing: border-box;
  }