.szh-menu-container {
    position: relative;
    width: 0px;
    height: 0px;
   
  }
  
  .szh-menu {
  
    margin-left: 15px;
    display: block;
    color: white;
    list-style: none;
    box-sizing: border-box;
    width: max-content;
    position: absolute;
    z-index: 100;
    background-color: #212D45;
    border-radius: 10px;
    margin-left: -1rem;
    margin-right:1rem;
    margin-top: 4rem;
    width:35rem;

  }
  
  .szh-menu:focus {
    outline: none;
  }
  .szh-menu--state-closed {
    display: none !important;
  }
